
#field {
  margin-bottom: 0px;

  li {

    &:first-of-type {
      background-color: #ccc;
    }

    textarea {
      resize: vertical;
    }

    .btn-primary {
      margin-right: 10px;
    }
  }
}

#select {

  &:hover {

    &:not(.active) {
      background-color: #ddd;
    }
  }

  i {
    color: white;
    font-size: 16px;
    padding: 2px 0 2px 2px;
    float: right;
  }

  &:not(.active) {
    i {
      color: #337ab7;
    }
  }
}

#menu {
  padding-right: 5px;
}

#content {
  padding-left: 5px;
}
